*{
    box-sizing: border-box;
}

input[type=button], input[type=submit], input[type=reset] {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

/* Tip: use width: 100% for full-width buttons */

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

input[type=text]:focus {
  background-color: lightblue;
}
input[type=text] {
  background-color: #3CBC8D;
  color: white;
}
.long-form{
    width: 100%;
}

select {
  width: 100%;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}

/* form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
} */

@media screen and (max-width: 600px) {  
  label,
  input[type=text],
  input[type=submit],
  select, textarea {
    flex: 100%;
    min-width: 100%;
  }
}
label {
  min-width: 48%;
  margin-bottom: 10px;
}

body{
  background-color: #F7F7F4;
}

h1 {
  color: #A49074  ;
}

p {
  color: #473840;
}

.responsive-form {
    display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 600px;
  width: 100%;
  border-radius: 4px;
  border: 2px solid #04AA6D;;
  background-color:bisque;
  padding: 20px;
}
