#form, p {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    text-shadow: 3px 2px 3px rgba(52, 230, 206);
}
header {
    font-family: 'Verdana', sans-serif;
    font-size: 36px;
    color: #34E6CE;
    text-shadow: 4px 3px 5px rgb(161, 42, 42);
}

#submit{
    color: peru;
    border-color: blueviolet;
}

body{
    background-color: lightyellow;
}
